@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #caeb66;
  --color-secondary: #000;
  --color-base-100: #ffffff;
  --color-base-200: #f5f5f7;
}

@plugin "daisyui/theme" {
  name: "dark";
  default: false;
  color-scheme: dark;
  --color-primary: #a86832;
  --color-secondary: #fff;
  --color-base-100: #111a28;
  --color-base-200: #2a2a3c;
}

/* a.active {
  color: #03373d;
} */

* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>;
  font-style: normal; */
}

/* Scroll Bar */

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #e5f5b5;
}

::-webkit-scrollbar-thumb {
  background: #caeb66;
  border-radius: 10px;
  border: 2px solid #e5f5b5;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background: #a5cf61;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #caeb66 #f1f1f1;
}
