@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #CAEB66;
  --color-secondary: #000;
  --color-base-100: #FFFFFF;
  --color-base-200: #F5F5F7;
}

@plugin "daisyui/theme" {
  name: "dark";
  default: false;
  color-scheme: dark;
  --color-primary: #a86832;
  --color-secondary: #fff;
  --color-base-100: #111A28;
  --color-base-200: #2A2A3C;

}


a.active {
  color: var(--color-primary);
}
